<!DOCTYPE html>
<html data-theme="business" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit Prophet</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">Profit Prophet</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal p-0">
            <li><a href="/entries">Entries</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
    </div>
    <div class="flex flex-col w-full border-opacity-50">
        <div class="grid h-20 card bg-base-300 text-2xl rounded-box place-items-center">Hello, <%= user.userName %>! You have worked a total of <%= totalTime %>, and made $<%= totalPay %> for an average of $<%= payPerHour %> per hour.</div>
        <div class="divider"></div>
    </div>
    <div class="flex flex-col w-full place-items-center border-opacity-50">
    <div class="card w-96 glass shadow-xl">
         <div class="card-body items-center">
             <h2 class="card-title">new entry</h2>
             <div id="status"></div>
            <div class="timerInfo ">
              <h2 class="text-4xl" id="hours">00</h2>
              <h2 class="text-4xl" id="minutes">00</h2>
              <h2 class="text-4xl" id="seconds">00</h2>  
             </div>
  
             <div class="buttons">
                 <button class="btn rounded-full px-1 btn-accent btn-outline" id="start">Start</button>
                 <button class="btn rounded-full px-1 btn-accent btn-outline" id="pause">Pause/Stop</button>
                 <button class="btn rounded-full px-1 btn-accent btn-outline" id="stop">Reset</button>
                 <button class="btn rounded-full px-1 btn-accent btn-outline" id="record">Record</button>
             </div>

        <div>
            <div class="flex flex-col "
                   <form action="/entries/addEntry" method='POST'>
                       <select id="task" name="task" class="select select-primary select-sm w-full max-w-xs">
                           <option disabled selected>Select Task</option>
                           <% tasks.forEach( el => { %>
                            <option value="<%= el.task %>"> <%= el.task %> </option>
                        <% }) %>
                    </select>
                    <input type="text" id="duration" placeholder="Duration" name="duration" class="input input-bordered input-primary input-sm w-20% max-w-xs">
                    <div class="flex justify-around">
                    <input type="number" id="quarter" step="any" placeholder="Units" name="units" class="input input-bordered input-primary input-sm w-25% max-w-xs">
                    <select id="measure" name="measure" class="select select-primary select-sm w-20% max-w-xs">
                        <option disabled selected>Meas.</option>
                        <% tasks.forEach( el => { %>
                            <option value="<%= el.measure %>"> <%= el.measure %> </option>
                        <% }) %>
                    </select>
                    <input type="number" id="quarter" step="any" placeholder="$ Total" name='pay' class="input input-bordered input-primary input-sm w-20% max-w-xs">
                    </div>
                  <input type="submit" class="btn rounded px-1 btn-accent btn-outline m-6">
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
    <script src="js/easyTimer.js"></script>
    <script src="js/script.js"></script>
</body>
</html>