<!DOCTYPE html>
<html data-theme="business" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Profit Prophet</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
			integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");
			body {
				font-family: "Short Stack", cursive;
			}
		</style>
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body class="doodle">
		<fieldset>
			<legend>[Profit Prophet]</legend>
			<div class="nav-bar">
				<div class="nav1">
					<a href="/dashboard" class="button"
						><button
							style="
								background-color: #ffd449;
								color: black;
								margin-right: 1em;
							"
						>
							Home
						</button></a
					>
					<a href="/entries" class="button"
						><button
							style="
								background-color: #ffd449;
								color: black;
								margin-right: 1em;
							"
						>
							Entries
						</button></a
					>
					<a href="/tasks" class="button" id="grow"
						><button
							style="background-color: #ffd449; color: black"
						>
							Tasks
						</button></a
					>
				</div>

				<a href="/logout" class="button"
					><button style="background-color: #ffd449; color: black">
						Log Out
					</button></a
				>
			</div>

			<h3>Entries</h3>
			<table>
				<thead>
					<tr>
						<th>Task</th>
						<th>Units</th>
						<th>Measure</th>
						<th>Duration</th>
						<th>$Pay</th>
					</tr>
				</thead>
				<tbody>
					<% entries.forEach(entries => { %>
					<tr>
						<td class="tableData"><%= entries.task %></td>
						<td class="tableData"><%= entries.units %></td>
						<td class="tableData"><%= entries.measure %></td>
						<td class="tableData"><%= entries.duration %></td>
						<td class="tableData"><%= entries.pay %></td>
						<td class="tableData">
							<form
								action="/entries/deleteEntry/<%= entries._id %>?_method=DELETE"
								method="POST"
							>
								<button
									class="fa fa-trash"
									style="
										background-color: #ff5e5b;
										font-size: 0.5em;
										color: black;
										cursor: pointer;
									"
									type="submit"
								></button>
							</form>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</fieldset>
	</body>
</html>
